:root{
    --visitedCellColor:#ff5599;
    --hoverCellColor: #aa22aa;
    --hoverCellTransitionVelocity: 0.15s;
    --wallBorderType: solid;
    --wallBorderThickness: 0.05em;
    --wallBorderColor: #243369;
/* 
    --solutionBorderType: solid;
    --solutionBorderThickness: 0.02em;
    --solutionBorderColor: #6e3b90; */
    --solutionCellColor: #aa60a6;
}

.row{
    display: flex;
    width: 100%;
}
.border-top{
    border-top: var(--wallBorderType) var(--wallBorderThickness) var(--wallBorderColor);
}
.border-right{
    border-right: var(--wallBorderType) var(--wallBorderThickness) var(--wallBorderColor);
}
.border-bottom{
    border-bottom: var(--wallBorderType) var(--wallBorderThickness) var(--wallBorderColor);
}
.border-left{
    border-left: var(--wallBorderType) var(--wallBorderThickness) var(--wallBorderColor);
}

.red-cell{
    background-color: var(--visitedCellColor);
    transition:var(--hoverCellTransitionVelocity);
}

.red-cell:hover{
    transform: scale(1.02);
    background-color: var(--hoverCellColor);
}

.purple-cell{
    background-color: var(--solutionCellColor);
}
.purple-cell:hover{
    transform: scale(1.02);
    background-color: var(--wallBorderColor);
}