*{
    padding:0;
    margin:0;
    color:white;
    scroll-behavior:smooth;
    box-sizing: border-box;
}
:root {
    --hambuerger-height: 100px;
    --lineAnimationsDuration: 1.5s;
    --margin:70px;
    --b1: #171717;
    --b2: #d3d3d3;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
}

.section1,.section2{
    
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    overflow: hidden;
}
.section1__subcontainer-center{
    /* border: 1px solid green; */
    font-family: 'Inter', sans-serif;
    font-size: 97px;
    padding: 0;
    margin: 3px;
    display: flex;
    justify-content: center;
    
}
.title1,.title2{
    /* border: 1px solid green; */
    width: 400px;
    display:flex;
    justify-content: right;
}
.title2{
    justify-content: left;
}
.gap{
    width: 30px;
}
.section1 > div, .two-lines-container, .subtitle-container, .vertical-line-container{
    /* border:1px solid white; */
}
.section1__subcontainer-top, .section1__subcontainer-bottom{
    height: 300px;
    flex-grow: 1;
    width: 100%;
}
.section1__subcontainer-bottom-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.section1__subcontainer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.subtitle-container{
    width: 100%;
    /* border:1px solid white; */
}
.subtitle-container{
    font-family: 'JetBrains Mono', monospace;
    height: fit-content;
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
/* scroll down classes */
.disappear_title{
    transform: translateY(-100px);
    filter: opacity(0);
    transition: 1s;
}
.appear_title{
    transform: translateY(0px);
    filter: opacity(1);
    transition: 1s;
}
.disappear_line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40vh;
    transform: translateY(-200px);
    filter: opacity(0);
    transition: 2s;
    
}
.scroll_translateY{
    
}
