*{
    padding:0;
    margin:0;
    color:white;
    scroll-behavior:smooth;
    box-sizing: border-box;
}
:root {
    --hambuerger-height: 100px;
    --lineAnimationsDuration: 1.2s;
    --margin:70px;
    --b1: #171717;
    --b2: #d3d3d3;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
}

.section1{
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    overflow: hidden;
}
.section1__subcontainer-center{
    /* border: 1px solid green; */
    font-family: 'Inter', sans-serif;
    font-size: 97px;
    padding: 0;
    margin: 3px;
    display: flex;
    justify-content: center;
    
}
.title1,.title2{
    /* border: 1px solid green; */
    width: 400px;
    display:flex;
    justify-content: right;
}
.title2{
    justify-content: left;
}
.gap{
    width: 30px;
}
.section1 > div, .two-lines-container, .subtitle-container, .vertical-line-container{
    /* border:1px solid white; */
}
.section1__subcontainer-top, .section1__subcontainer-bottom{
    height: 300px;
    flex-grow: 1;
    width: 100%;
}
.section1__subcontainer-bottom-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.section1__subcontainer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.subtitle-container{
    width: 100%;
    /* border:1px solid white; */
}
.subtitle-container{
    font-family: 'JetBrains Mono', monospace;
    height: fit-content;
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
/* scroll down classes */
.disappear_title{
    transform: translateY(-100px);
    filter: opacity(0);
    transition: 1s;
}
.appear_title{
    transform: translateY(0px);
    filter: opacity(1);
    transition: 1s;
}
.disappear_line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 40vh;
    transform: translateY(-200px);
    filter: opacity(0);
    transition: 2s;
    
}
.appear_left{
    animation-name: appear_left_an;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes  appear_left_an{
    0%{
        transform: translateX(-5%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.disappear_left{
    animation-name: disappear_left_an;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    transform: translateX(-10%);
        opacity: 0;
}

@keyframes  disappear_left_an{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-5%);
        opacity: 0;
        
    }
}

.section2{
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
.section2_flex-container{
    /* border: 2px solid red; */
    height: 44vh;
    width: 100%;
    display:flex;
    align-items: center;
    flex-direction:column;
    justify-content: left;
    
}

.section2_title{
    margin-top: var(--margin);
    height: var(--hambuerger-height);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: calc(var(--hambuerger-height)*0.5);
}
.section2_intro{
    margin-top:6.5vh;
    height: 14vh;
    width: calc(100% - var(--margin) - var(--margin) - var(--hambuerger-height));
    display: flex;
    justify-content: left;

}
.section2_intro_txt{
    width: 500px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-family: 'inter';
}
.section2_itemsContainer{
    margin-left: 18px;
    height: 20vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    transform:translateX(-10px);
}
.section2_item{
    /* border: 1px solid red; */
    width: 20%;
    height: 100%;
}
.section2_item_numberContainer{
    /* border: 1px solid red; */
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.numberBall{
    /* border: 1px solid red; */
    --radius: 4.5vh;
    height: calc(2* var(--radius));
    width: calc(2* var(--radius));
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16703C;
    font-size: 25px;
    font-family: 'inter';
    color:white;
}
.number1{
    transform: translateX(-20px);
}
.number3{
    transform: translateX(20px);
}
.section2_item_text{
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-family: 'inter';
}
.appear_up0,.appear_up1,.appear_up2,.appear_up3{
    transform: translateY(0);
    opacity:1;
    transition-duration: 1s;
}
.disappear_down0,.disappear_down1,.disappear_down2,.disappear_down3{
    transform: translateY(100px);
    opacity:0;
    transition-duration: 1s;
}
.appear_up0,.disappear_down0{
    transition-delay: 0.2s;
}
.appear_up1,.disappear_down1{
    transition-delay: 0.4s;
}
.appear_up2,.disappear_down2{
    transition-delay: 0.6s;
}
.appear_up3,.disappear_down3{
    transition-delay: 0.8s;
}
.section2_title{
    opacity:0;
}
